name: Update PecheurConnect Data

on:
  schedule:
    - cron: '0 */6 * * *' # S'exécute toutes les 6 heures (00h, 06h, 12h, 18h)
  workflow_dispatch: # Permet de lancer la mise à jour manuellement pour tester

permissions:
  contents: write # Autorise explicitement le bot à modifier data.json sur votre dépôt

jobs:
  update_data:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # Version 4 plus rapide et stable

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install copernicusmarine numpy xarray netcdf4 requests python-dotenv

      - name: Run Marine Script
        env:
          COPERNICUS_USERNAME: ${{ secrets.COPERNICUS_USERNAME }}
          COPERNICUS_PASSWORD: ${{ secrets.COPERNICUS_PASSWORD }}
          TG_TOKEN: ${{ secrets.TG_TOKEN }}
          TG_ID: ${{ secrets.TG_ID }}
        run: python script_peche.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "PecheurConnect-Bot"
          git config --global user.email "bot@pecheurconnect.sn"
          git add data.json
          # Le "exit 0" évite que le workflow marque une erreur s'il n'y a pas de changement de données
          git commit -m "Auto-update marine data: $(date)" || exit 0
          git push
