name: Update PecheurConnect Data

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update_data:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: pip install requests xarray netcdf4 numpy

      - name: Run Script
        env:
          TG_TOKEN: ${{ secrets.TG_TOKEN }}
          TG_ID: ${{ secrets.TG_ID }}
          COPERNICUS_USERNAME: ${{ secrets.COPERNICUS_USERNAME }}
          COPERNICUS_PASSWORD: ${{ secrets.COPERNICUS_PASSWORD }}
        run: python script_peche.py

      - name: Commit and Push
        run: |
          git config --global user.name "PecheurConnect-Bot"
          git config --global user.email "bot@pecheurconnect.sn"
          git add data.json
          git commit -m "Auto-update marine data: $(date)" || exit 0
          git push
