name: Mise à jour PecheurConnect

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - name: Installation
        run: pip install copernicusmarine requests xarray netCDF4

      - name: Radar Satellite
        env:
          COPERNICUS_USERNAME: ${{ secrets.COPERNICUS_USERNAME }}
          COPERNICUS_PASSWORD: ${{ secrets.COPERNICUS_PASSWORD }}
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python script_peche.py

      - name: Mise à jour Site
        run: |
          git config --global user.name "Bot-Peche"
          git config --global user.email "bot@pecheurconnect.sn"
          git add data.json
          git commit -m "Update PecheurConnect $(date)" || exit 0
          git push
