name: Sunu-Blue-Tech Auto

on:
  schedule:
    # 5h00 UTC (10h Dakar) et 15h00 UTC (20h Dakar)
    - cron: '0 5 * * *'
    - cron: '0 15 * * *'
  workflow_dispatch:  # Manuel

jobs:
  run-script:
    runs-on: ubuntu-latest
    
    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4

      - name: Installer Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Installer les bibliothèques
        run: |
          pip install --upgrade pip
          if [ -f requirements.txt ]; then
            pip install -r requirements.txt
          fi

      - name: Lancer le script de pêche
        env:
          TG_TOKEN: ${{ secrets.TG_TOKEN }}
          TG_ID: ${{ secrets.TG_ID }}
          COPERNICUS_USERNAME: ${{ secrets.COPERNICUS_USERNAME }}
          COPERNICUS_PASSWORD: ${{ secrets.COPERNICUS_PASSWORD }}
        run: python script_peche.py
