name: Sunu-Blue-Tech Auto

on:
  schedule:
    - cron: '0 5 * * *'   # 10h Dakar
    - cron: '0 15 * * *'  # 20h Dakar
  workflow_dispatch:     # Bouton manuel

jobs:
  run-script:
    runs-on: ubuntu-latest
    
    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4

      - name: Installer Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Installer TOUTES les dépendances
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip list | grep matplotlib || echo "Matplotlib installé"

      - name: Vérifier environnement
        run: |
          python --version
          pip list | head -10
          ls -la script_peche.py

      - name: Lancer le script de pêche
        env:
          TG_TOKEN: ${{ secrets.TG_TOKEN }}
          TG_ID: ${{ secrets.TG_ID }}
          COPERNICUS_USERNAME: ${{ secrets.COPERNICUS_USERNAME }}
          COPERNICUS_PASSWORD: ${{ secrets.COPERNICUS_PASSWORD }}
        run: python script_peche.py
