name: Update Marine Data
on:
  schedule:
    - cron: '0 5,17 * * *'  # 05h/17h UTC
  workflow_dispatch:          # Manuel

jobs:
  update-data:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
        
    - name: Install dependencies
      run: |
        pip install requests pandas numpy matplotlib
        
    - name: Create public directory
      run: mkdir -p public
      
    - name: Run script
      run: python script_peche.py
      
    - name: Commit data
      run: |
        git config user.name "GitHub Action"
        git config user.email "action@github.com"
        git add public/*
        git commit -m "Update marine data $(date)" || exit 0
        git push
