name: Sunu-Blue-Tech Auto
on:
  schedule:
    - cron: '0 5,15 * * *'
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Critique pour éviter l'erreur 1
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      
      - name: Installation
        run: pip install numpy matplotlib requests

      - name: Execution
        run: python script_peche.py

      - name: Nettoyage et Publication
        run: |
          git config --global user.name "SunuBlue-Bot"
          git config --global user.email "bot@sunubluetech.sn"
          # On s'assure que seul le dossier public est suivi
          git add public/data.json public/bulletin_gps.png
          git commit -m "Mise à jour météo $(date +'%d/%m/%Y')" || exit 0
          git push
