name: Sunu-Blue-Tech Auto
on:
  schedule:
    - cron: '0 5 * * *'
    - cron: '0 15 * * *'
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # ← AJOUTÉ
      
    steps:
    - uses: actions/checkout@v4
    
    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        
    - run: pip install -r requirements.txt
    
    - name: Lancer script pêche
      env:
        TG_TOKEN: ${{ secrets.TG_TOKEN }}
        TG_ID: ${{ secrets.TG_ID }}
        COPERNICUS_USERNAME: ${{ secrets.COPERNICUS_USERNAME }}
        COPERNICUS_PASSWORD: ${{ secrets.COPERNICUS_PASSWORD }}
      run: python script_peche.py
